.admin__content {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    width: 90%;
}

.section__title {
    text-align: center;
    color: #8B7969;
}

.search-form__wrapper{
    display: flex;
    width: 100%;
}

.search-form__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search-form__item input, .search-form__item select{
    padding: 10px 15px;
    background-color: #f4f4f4;
    border: 1px solid #e3d3d9;
    color: #8b7969;
}

.search-form__item-keyword{
    width: 30%;
}

.search-form__button-submit{
    padding: 10px 30px;
    background-color: #82756a;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.search-form__button-reset{
    padding: 10px 20px;
    background-color: #d9c6b5;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.search-form__sub-function{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.search-form__export{
    background-color: #e1dbd6;
    border: none;
    padding: 8px 20px;
    color: #8B7969;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
    border: 1px solid #e0dfde;
}

.search-form__table-wrapper{
    width: 100%;
}

.search-form__table{
    width: 100%;
}

.search-form__table tr{
    border: 1px solid #e0dfde;
}

.search-form__table th{
    padding: 15px 0 15px 40px;
    background-color: #82756a;
    color: #fff;
    text-align: left;
}

.search-form__table td{
    padding: 20px 0 20px 40px;
    text-align: left;
    color: #8B7969;
}

.search-form__table-detail{
    padding: 8px 20px;
    background-color: #f4f4f4;
    border: 1px solid #d9c6b5;
    color: #d9c6b5;
}