*{
    font-family: "Inika", serif;
}

header{
    border-bottom: 1px solid #e0dfde;
    height: 100px;
}

.header__inner{
    margin: 0 auto;
    height: 100%;
    padding: 20px 15px;
    max-width: 1230px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

.header__logo{
    color: #8B7969;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Inika';
}

.header__button-wrapper{
    max-width: 100px;
    height: 40px;

}

.header__button{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #D9C6B5;
    border: 1px solid #D9C6B5;
    background-color: #f0f0f0;
    display: flex;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
}