.input__content{
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.section__title{
    text-align: center;
    color: #8B7969;
}

.create-form__table-wrapper{
    width: 80%;
    margin: 0 auto 50px;
}

.create-form__table{
    width: 100%;
}

.create-form__table tr{
    width: 100%;
    color: #8B7969;
}

.create-form__table th{
    width: 35%;
    text-align: left;
    padding: 15px 0px;
}

.create-form__table-asterisk{
    color: #ff9494;
    margin-left: 5px;
}

.create-form__table td{
    width: 65%;
}

input, .create-form__category-select, .create-form__detail{
    border: none;
    background-color: #f4f4f4;
    padding: 10px 30px;
}

.create-form__name{
    display: flex;
    justify-content: space-between;
}

.create-form__name-first, .create-form__name-last{
    width: 45%;
}

.create-form__gender{
    display: none;
}

.create-form__gender-button{
    margin-left: 20px;
}

.create-form__gender-button{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #8b7969;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.create-form__gender:checked + .create-form__gender-button{
    background-color: #8b7969;
    border-color: #8B7969;
}

.create-form__email, .create-form__address, .create-form__building{
    width: 100%;
}

.create-form__tel{
    display: flex;
    justify-content: space-between;
}

.create-form__tel-item{
    width: 30%;
    text-align: center;
}

.create-form__select-wrapper{
    position: relative;
    width: 50%;
}

.create-form__select-wrapper::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 12px;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-top: 12px solid #555;
    border-bottom: 0;
    pointer-events: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

.create-form__category-select{
    width: 100%;
}

.create-form__detail{
    width: 100%;
    height: 100px;
    resize: none;
}

.create-form__button{
    width: 160px;
    height: 45px;
    margin: 0 auto;
}

.create-form__button-submit{
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-color: #82756a;
    cursor: pointer;
    border: none;
}